@model MvcMovie.Models.CustomerGioiTinhViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Khách hàng</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>

<form asp-controller="Customer" asp-action="Index" method="get">
    <p>
        <select asp-for="GenderIn" asp-items="Model.Gender">
            <option value="">All</option>
        </select>

        Tên: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].PersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonID">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.PersonID">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
